.nav1 a{
    text-decoration: none;
}

.nav1 {
    min-height: 100vh;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.rounded {
    border-radius: 20px;
}
.service-card {
    width: 13rem;
    margin-bottom: 1rem;
}


