.nav1 a{
    text-decoration: none;
}

.nav1 {
    min-height: 200vh;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.rounded {
    border-radius: 20px;
}
.service-card {
    width: 13rem;
    margin-bottom: 1rem;
}

.menu_vertical {
    background-color: rgb(20, 33, 61);
    border: none;
}

.linea {
    color: aliceblue;
}

